* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* 원근감을 상위 태그에 지정한다 */
    /* 크면 클수록 멀리본다 라고 생각하면 된다 */
    perspective: 1000px;
}

.flip-btn {
    width: 200px;
    height: 100px;
    color: white;
    text-align: center;
    line-height: 100px;
    /* 어떤 요소의 height 값과 line-height 값이 같으면 수직 중앙정렬 된다 */
    transform-style: preserve-3d;
    transition: 0.5s;
    cursor: pointer;
}

.flip-btn:hover {    
    transform: rotateX(-90deg);
}

.front {
    background-color: goldenrod;
    height: 100px;
    transform: translateZ(50px)
}

.back {
    background-color: darkgoldenrod;
    height: 100px;
    transform: rotateX(90deg) translateZ(150px)
}