@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    background-image: url('./images/gray_back_wide.jpeg');
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.main-txt {
    margin: 10px;
}

.main-txt h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    color: #fff
}

.sm-txt {
    margin: 10px;
}

.sm-txt p{    
    font-size: 23px;
    
    color: #fff;
    font-family: 'Questrial', sans-serif;
}

.btn {
    margin-top: 15px;
}

.btn button {
    background: none;
    border: 2px solid white;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 20px;
    font-family: 'Questrial', sans-serif;
    color: #fff;
    cursor: pointer;
    transition: all .5s;
}

.btn button:hover {
    background: rgb(197, 105, 105);
}



